*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-size: 50px;
    /* margin-top: 10%; */
    color:  rgb(135, 141, 187);
    letter-spacing: .2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h6 {
    color: rgb(188, 192, 199);
    opacity: .4;
    
}

.column {
    /* content: center; */
    margin-left: 10%;
    margin-top: 8%;
    float: left;
    width: 20%;
    padding: 5px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: .4;
    color: rgb(188, 192, 199);
    text-align: center;
}

.row::after {
    content: "" ;
    display: table;
    clear: both;
}

html {
    height: 100%;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-image: url(background2.jpg);
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    /* position: fixed; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(65, 86, 126);
}

footer {
    /* padding-top: 95%; */
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-color: #040d3f;
    padding: 15px;
    margin-top: auto;
    /* margin-bottom: 0px; */
}

h2 {
    text-align: center;
    color: rgb(160, 160, 151);
}

li{
    list-style: none;

}

a{
    position: relative;
    color: white;
    text-decoration: none;

}

a:after{
    content: "";
    position: absolute;
    background-color: rgb(199, 214, 58);;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
}

a:hover:after{
    width: 100%;
}

.container{
    width: 1280px;
    margin: auto;
}

.navbar{
 width: 95%;
 margin: auto;
 min-height: 70px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 60px;
    margin: auto;

}


.nav-branding{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
}

@media(max-width:1280px){
    .container{
        width: 100%;
    }
}